# dependencies
/node_modules

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*

# database
*.db
*.db-shm
*.db-wal

# build artifacts
*.tsbuildinfo
/.next/
/out/
/build

# claude
.claude/*
!.claude/commands/
.claude/settings.local.json
.gstack/
